# IDE
.idea/
!/.idea/.idea.Falko.Talkie/.idea/discord.xml
!/.idea/.idea.Falko.Talkie/.idea/icon.svg
.vs/
.vscode/

# BUILD
[Oo]utput/
[Pp]ackages/
[Bb]in/
[Oo]bj/

# SYSTEM
.DS_Store

# USER
*.DotSettings.user
